<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.jsx.system.dao.mybatis.SysPermissionDao">

	<resultMap id="customResultMap" type="com.jsx.system.entity.SysPermission">
        <result property="id" column="id"/>
        <result property="state" column="state"/>
        <result property="permissionName" column="permission_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="permissionCode" column="permission_code"/>
        <result property="resourceType" column="resourceType"/>
        <result property="url" column="url"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
	</resultMap>
	
	<sql id="columns">
        	id,
        	state,
        	permission_name,
        	parent_id,
        	permission_code,
        	resourceType,
        	url,
        	create_time,
        	create_uid,
        	update_time,
        	update_uid
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_permission (
        	id ,
        	state ,
        	permission_name ,
        	parent_id ,
        	permission_code ,
        	resourceType ,
        	url ,
        	create_time ,
        	create_uid ,
        	update_time ,
        	update_uid 
        ) VALUES (
        	#{id} ,
        	#{state} ,
        	#{permissionName} ,
        	#{parentId} ,
        	#{permissionCode} ,
        	#{resourceType} ,
        	#{url} ,
        	#{createTime} ,
        	#{createUid} ,
        	#{updateTime} ,
        	#{updateUid} 
        )
	</insert>
    
	<update id="update" >
        UPDATE t_sys_permission SET
	        state = #{state} ,
	        permission_name = #{permissionName} ,
	        parent_id = #{parentId} ,
	        permission_code = #{permissionCode} ,
	        resourceType = #{resourceType} ,
	        url = #{url} ,
	        create_time = #{createTime} ,
	        create_uid = #{createUid} ,
	        update_time = #{updateTime} ,
	        update_uid = #{updateUid} 
        WHERE 
	        id = #{id} 
	</update>

    <delete id="deleteById">
        DELETE FROM t_sys_permission WHERE
        id = #{id} 
    </delete>
    
    <select id="getById"  parameterType="java.lang.String" resultMap="customResultMap">
		SELECT <include refid="columns" />
		    FROM t_sys_permission 
	        WHERE 
		        id = #{id} 
	</select>
	
	<sql id="query_conditions">
		<where>	      				
	       <if test="id != null and id != '' ">
				AND id = #{id}
			</if>
	       <if test="state != null and state != '' ">
				AND state = #{state}
			</if>
	       <if test="permissionName != null and permissionName != '' ">
				AND permission_name = #{permissionName}
			</if>
	       <if test="parentId != null and parentId != '' ">
				AND parent_id = #{parentId}
			</if>
	       <if test="permissionCode != null and permissionCode != '' ">
				AND permission_code = #{permissionCode}
			</if>
	       <if test="resourceType != null and resourceType != '' ">
				AND resourceType = #{resourceType}
			</if>
	       <if test="url != null and url != '' ">
				AND url = #{url}
			</if>
	       <if test="createTimeBegin != null">
				AND create_time >= #{createTimeBegin}
		   </if>
		   <if test="createTimeEnd != null">
				AND create_time &lt;= #{createTimeEnd}
		   </if>
	       <if test="createUid != null and createUid != '' ">
				AND create_uid = #{createUid}
			</if>
	       <if test="updateTimeBegin != null">
				AND update_time >= #{updateTimeBegin}
		   </if>
		   <if test="updateTimeEnd != null">
				AND update_time &lt;= #{updateTimeEnd}
		   </if>
	       <if test="updateUid != null and updateUid != '' ">
				AND update_uid = #{updateUid}
			</if>
		</where>
	</sql>
		
    <select id="getTotalCount"  parameterType="com.jsx.system.entity.SysPermission" resultType="long">
        SELECT count(*) FROM t_sys_permission 
		<include refid="query_conditions"/>    
    </select>
    
    <!--查询列表，可以传分页参数-->
    <select id="getList" parameterType="com.jsx.system.entity.SysPermission" resultMap="customResultMap">
    	SELECT <include refid="columns" />
	    FROM t_sys_permission 
		<include refid="query_conditions"/>

    </select>

	
</mapper>

